
      <!--<ul>
        <li *ngFor="let user of users$ | async">
          <span>{{user.firstname}}</span>
        </li>
      </ul>-->
 
<ul class="chat-list">
  <li class="chat-list__item" *ngFor='let user of usersOn$ | async | filterUserByName: searchValue; let i = index' 
 
  >
    <div class="avatar" >
        <img class="avatar__img" src="http://placehold.it/60x60" alt="avatar-image">
    </div>

    <div class="chat-info" >
        <h4 class="chat-name__heading">{{user.firstname}}</h4>
    </div>

    <div class="chat-last-activity" [class.isLogged]="user.isLogged" >
        {{user.isLogged === true ? 'on' : 'off'}}
    </div>
    
   
  </li>
</ul>

