
  <div class="wrapper">
    <aside class="aside-part" [class.collapseWidth]="isChatListFolded">
        <ct-chat-navbar (notifyChatListFold)='onNotifyChatListFold($event)' (notifyChatMenuShow)='onNotifyChatMenuShow($event)'></ct-chat-navbar>
        <ct-chat-menu
            *ngIf="isChatMenuShown"
        ></ct-chat-menu>
        <ct-chat-list></ct-chat-list>
        <!--<ct-users-list></ct-users-list>-->
        <!--<ct-chat-list></ct-chat-list>-->
        <ct-user-list></ct-user-list>
    </aside>
    <div class="main-part" [class.expandWidth]="isChatListFolded">
    <router-outlet></router-outlet>
    </div>
</div>
