.users-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.users-list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    flex-direction: row;
    padding: 10px 24px;
}

.users-list__item:hover {
    background-color: rgba(255,255,255,.65);
}

.users-info__heading {
    margin: 0;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.users-info__motto {
    color: #989ad7;
    font-size: 14px;
    font-weight: 300;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.users-sign {
    margin-left: auto;
    background: lightgrey;
    color: #3b3e99;
    padding: 0 19.5px;
    border-radius: 15px;
    line-height: 25px;
}

.avatar {
    height: 60px;
}

.avatar__img {
    border-radius: 50%;
    margin-right: 24px;
}

.isLogged {
    background-color: green;
    color: #fff;
}
