

<div class="form__wrapper">

  <form #formSignIn="ngForm" novalidate class="form-sign-in" (ngSubmit)="signInSubmit(formSignIn.value)">

    <h4 class="form-sign-in__header">Login Form</h4>

    <div class="form-sign-in__container">
      <label class="form-sign-in__label" for="emailId" [class.header-has-error]="email.invalid && email.touched">Email</label>
      <input class="form-sign-in__input-field" id="emailId" type="text" name="email" placeholder="Email Address (required)" #email="ngModel"
        required [class.input-has-error]="email.invalid && email.touched" [ngModel]="user.email"
        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}">
      <div *ngIf="email.invalid && email.touched" class="text-has-error">
        Email is required and should be valid
      </div>
    </div>

    <div class="form-sign-in__container">
      <label class="form-sign-in__label" for="passwordId" [class.header-has-error]="password.invalid && password.touched">Password</label>
      <input class="form-sign-in__input-field" id="passwordId" type="password" name="password" placeholder="Password (required)"
        #password="ngModel" required pattern=".{6,}" [ngModel]="user.password" [class.input-has-error]="password.invalid && password.touched">
      <div *ngIf="password.invalid && password.touched" class="text-has-error">
        Password is required (min 6 characters)
      </div>
    </div>
    <ct-alt-login-google></ct-alt-login-google>
    <button class="form-sign-in__btn-login" type="submit" [disabled]="formSignIn.invalid">Sign In</button>
  </form>

</div>
