.chat-list {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding: 0;
}

.chat-list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    flex-direction: row;
    padding: 10px 24px;
}

.chat-list__item:hover {
    background-color: mediumpurple;
    cursor: pointer;
}

// .chat-list__item:last-child {
//     border-bottom: 1px solid #989ad7;
// }

.chat-info__heading {
    margin: 0;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.chat-info__userslist {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-sign {
    margin-left: auto;
    background: #989ad7;
    color: #fff;
    padding: 0 14px;
    border-radius: 15px;
    line-height: 25px;
}

.avatar {
    height: 60px;
}

.avatar__img {
    border-radius: 50%;
    margin-right: 24px;
}
