<!--<h3>MESSAGES LIST</h3>-->


<ul class="message-list">
    <li class="user-message" >
        <div class="user-message-wrapper">
      
            <div class="avatar ">
                <img class="avatar__img" src="http://placehold.it/60x60" alt="">
            </div>
            <div class="user-message__text">
                Hello!
            </div>
              
        </div>

        <div class="user-message__publication-date">
           2h
        </div>
    </li>
    <li class="user-message" >
        <div class="user-message-wrapper">
      
            <div class="avatar ">
                <img class="avatar__img" src="http://placehold.it/60x60" alt="">
            </div>
            <div class="user-message__text">
                Hi, Friend!
            </div>
              
        </div>

        <div class="user-message__publication-date">
           2h
        </div>
    </li>
</ul>

