<div class="chat-details-navbar">
    <a routerLink="/chat"  class="btn-back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Back</a>
    <div class="logo">
        <a routerLink="/home"  class="logo__link">
            <div class="chatname">{{chatname}}</div>
        </a>
    </div>

     <form action="" class="search-form" autocomplete="off">
             <input class="search-form__input" type="text" placeholder="Search message" name="search-message"
               [(ngModel)]="searchPrivateMessage"
             (blur)="onBlur()"
             (ngModelChange)="onSearchPrivateMessageChange($event)"
             >
            <span class="search-form__btn-search"></span>
        </form>
</div>
