.chat-details-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 16px 24px 34px 24px;
}

.logo {
    margin-right: 25px;
}

.btn-back {
    text-decoration: none;
    margin-right: 26px;
    font-size: 18px;
    font-weight: 400;
    color: #989ad7;
}

// .btn-back:before {
//     content: "\f177";
//     font-family: FontAwesome;
//     font-size: 18px;
//     color: #989ad7;
//     cursor: pointer;
// }

.btn-back:hover {
    color: #3b3e99;
}

.logo__link {
    text-decoration: none;
}

.chatname {
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    background-color: #3b3e99;
}

.search-form {
    position: relative;
}

.search-form__input {
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
    height: 32px;
    padding: 0 35px 0 15px;
    
}

.search-form__btn-search:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 6px;
    color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}