<!--<h3>MESSAGES LIST</h3>-->
<h2>{{chatname}}</h2>
<ul class="message-list">
  Private messages goes here
    <li class="user-message" *ngFor='let privateMessage of privateMessages$ | async | filterPrivateMessageByText: searchPrivateMessage; let i = index'>
        <div class="user-message-wrapper">
      
            <div class="avatar ">
                <img class="avatar__img" src="http://placehold.it/60x60" alt="">
            </div>
            <div class="user-message__text" >
                {{privateMessage.userName}}>>{{privateMessage.text}}
            </div>
              
        </div>

        <div class="user-message__publication-date">
           2h
        </div>
    </li>
</ul>

