
.social-icons-content {
    font-size: 0;
    margin-top: 32px;
    margin-bottom: 13px;
    text-align: center;
}

.social-icons-content__link {
    margin-right: 32px;
}

.social-icons-content__link:last-child {
    margin-right: 0;
}

.social-icons-content__fb-icon-active,
.social-icons-content__fb-icon,
.social-icons-content__g-icon-active,
.social-icons-content__g-icon,
.social-icons-content__tw-icon-active,
.social-icons-content__tw-icon {
    background: url('../../../assets/img/icon-sprite.png') no-repeat;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
}

.social-icons-content__fb-icon:hover {
    background-position: -10px -0px;
    height: 45px;
    width: 45px;
}

.social-icons-content__fb-icon {
    background-position: -65px -0px;
    height: 45px;
    width: 45px;
}

.social-icons-content__g-icon:hover {
    background-position: -10px -55px;
    height: 45px;
    width: 45px;
}

.social-icons-content__g-icon {
    background-position: -65px -55px;
    height: 45px;
    width: 45px;
}

.social-icons-content__tw-icon:hover {
    background-position: -10px -110px;
    height: 45px;
    width: 45px;
}

.social-icons-content__tw-icon {
    background-position: -65px -110px;
    height: 45px;
    width: 45px;
}