<!--<p *ngFor='let user of chatsOn$ | async'>
  users-list works!
</p>

<div>{{chatsOn$}}</div>-->

<ul class="chat-list">
  <li class="chat-list__item" *ngFor='let chat of chatsOn$ | async | filterChatByName: searchValue; let i = index' 
 (click)="select(chat)" 
  >
    <div class="avatar" >
        <img class="avatar__img" src="http://placehold.it/60x60" alt="avatar-image">
    </div>

    <div class="chat-info" >
        <h4 class="chat-name__heading">{{chat.name}}</h4>
    </div>

    <div class="chat-last-activity"  >
        2 h
    </div>
    
   
  </li>
</ul>

