 .wrapper {
    display: flex;
    height: 500px;
    width: 960px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: calc((100vh - 81px - 500px)/2);
    border: 1px solid #3B3E99;
    
}

.aside-part {
    background-color: #3B3E99;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: 500px;
    min-width: 108px;
    overflow: auto;
    width: 40%; 
}

.main-part {
  background-color: #fff;
  max-height: 500px;
  height: 500px;
  overflow-y: auto;
  width: 60%;
}

.collapseWidth {
  width: 108px;
  overflow: hidden;
}

.expandWidth {
  width: calc(100% - 108px);
}


