<nav class="navbar">
    <div class="navbar__logo-container">
        <a class="navbar__logo-link" routerLink="/home">
            <!--<div class="navbar__logo-item"></div>-->
            <img class="navbar__logo-item" src="../../../assets/img/logo.png" alt="logo">
        </a>
    </div>
    <ul class="navbar__menu">
        <li class="navbar__menu-item">
            <a class="navbar__menu-link"  routerLink="/home" routerLinkActive="active" >Home</a>
        </li>
        <li class="navbar__menu-item">
            <a class="navbar__menu-link" routerLink="/chat" routerLinkActive="active" [hidden]="!authenticated">Chat</a>
        </li>
        <!--<li class="navbar__menu-item">
            <a class="navbar__menu-link" routerLink="/auth/login" routerLinkActive="active" [hidden]="isLogged()">Sign In</a>
        </li>
        <li class="navbar__menu-item"> 
            <a class="navbar__menu-link" routerLink="/auth/register" routerLinkActive="active" [hidden]="isLogged()">Sign Up</a>
        </li>-->

        <ng-container *ngIf="!authenticated">
             <li class="navbar__menu-item">
               <a class="navbar__menu-link" routerLink="/auth/login" routerLinkActive="active" [hidden]="authenticated">Login</a>
            </li>
           
            <li class="navbar__menu-item">
                <a class="navbar__menu-link btn-register" routerLink="/auth/register" routerLinkActive="active" [hidden]="authenticated">Register</a>
            </li>
        </ng-container>
        <!--<li class="navbar__menu-item">    
             <a class="navbar__menu-link">
               
            </a>
        </li>-->

        <li class="navbar__menu-item">
            <a href="" class="navbar__menu-link" routerLink="/profile" routerLinkActive="active" [hidden]="!authenticated">Profile</a>
        </li>

         <li class="navbar__menu-item">
            <a href="" class="navbar__menu-link" [hidden]="!authenticated" routerLinkActive="active" (click)="logoutAction()">Logout</a>
         </li>
         <li class="navbar__menu-item">
            <span class="navbar__menu-wellcome" [hidden]="!authenticated">Hello, {{firstname}}</span>
         </li>

                
            

    </ul>
    
</nav>

<!--<div class="user-profile" *ngIf="isLoggedIn">
    <a class="user-profile-link">
      <span class="user-profile-link__name">{{username}}</span>
      <div class="user-profile-link__photo" style="background-image: url(assets/img/avatar__1.jpg)"></div>
    </a>
    <button class="log-out  chat-icon-sign-out" (click)="logout()"></button>
  </div>-->