<div class="social-icons-content">

  <div class="alt-login__divider">
    <span class="alt-login__text">OR</span>
  </div>

  <span class="alt-login__title">Login with:</span>

  <a class="social-icons-content__link" href="https://www.facebook.com">
    <div class="social-icons-content__fb-icon"></div>
  </a>

  <a class="social-icons-content__link">
    <div (click)="submitBy()" id="google-auth-btn" class="hover social-icons-content__g-icon"></div>
  </a>

  <a class="social-icons-content__link" href="https://twitter.com/">
    <div class="hover social-icons-content__tw-icon"></div>
  </a>
  
</div> <!--end social-icons-content-->
