.user-menu {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.user-menu__item-info {
    background: #fff;
    display: none;
    margin-bottom: 22px;
    padding: 32px;
}

#btn-account-info,
#btn-settings {
    display: none;
}

 
 .btn-arrow-sm {
    border-right: 2px solid white;
    border-top: 2px solid white;
    padding: 0;
    transition: transform .3s;
    height: 10px;
    position: absolute;
    right: 17px;
    top: calc((40px - 17px + 4px)/2);
    transform: rotate(45deg);
    width: 10px;

}

.btn-arrow-label-sm {
     background: lightgrey;
     color: white;
     cursor: pointer;
     display: block;
     font-size: 16px;   
     height: 40px;
     line-height: 40px;
     margin-top: 10px;
     position: relative;
     text-align: center;
  }

#btn-account-info:checked + .btn-arrow-label-sm + .user-menu__item-info {
    display: flex;
    justify-content: center; }

#btn-account-info:checked + .btn-arrow-label-sm > .btn-arrow-sm {
    transform: rotate(135deg); }

#btn-account-info:checked + .btn-arrow-label-sm {
    font-weight: 400; }

#btn-settings:checked + .btn-arrow-label-sm + .user-menu__item-info {
    display: flex;
    justify-content: center; }

#btn-settings:checked + .btn-arrow-label-sm > .btn-arrow-sm {
    transform: rotate(135deg); }

#btn-settings:checked + .btn-arrow-label-sm {
    font-weight: 400; }

.form-add-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}