<div class="user-menu">

                    <div class="user-menu__item">
                        <input type="checkbox" id="btn-account-info">
                        <label for="btn-account-info" class="btn-arrow-label-sm">
                            Add User
                            <span class="btn-arrow-sm"></span>
                        </label>
                        <div class="user-menu__item-info">
                            <form action="">
                                    <input type="text" placeholder="Find User">
                                    <input type="submit" value="Find">
                            </form>
                        </div>
                    </div>  <!--end user-menu__item-->

                    <div class="user-menu__item">
                         <input type="checkbox" id="btn-settings">
                         <label for="btn-settings" class="btn-arrow-label-sm">
                            Add Chat
                            <span class="btn-arrow-sm"></span>
                        </label>
                         <div class="user-menu__item-info">
                             <form class="form-add-chat" action="">
                                    <select name="" id="" multiple>
                                        <option disabled selected>Choose friend</option>
                                        <option value="sam">Sam</option>
                                        <option value="max">Max</option>
                                        <option value="andrew">Andrew</option>
                                    </select>
                                    <br>
                                    <input type="submit" value="Add Chat">
                            </form>
                        </div>
                    </div>   <!--end user-menu__item-->

                </div>    <!--end user-menu-->