.chat-details-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 16px 24px 34px 24px;
}

.logo {
    margin-right: 25px;
}

.search-form {
    position: relative;
}

.search-form__input {
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
    height: 32px;
    padding: 0 35px 0 15px;
    
}

.search-form__btn-search:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 6px;
    color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}