<div class="chat-details-navbar">
    <div class="logo">
        <a routerLink="/home"  class="logo__link">
             <img class="logo__item" src="../../../../assets/img/logo-small.png" alt="logo">
        </a>
    </div>

     <form action="" class="search-form" autocomplete="off">
             <input class="search-form__input" type="text" placeholder="Search message" name="search-message"
             [(ngModel)]="searchMessage"
             (ngModelChange)="onSearchMessageChange($event)"
             >
            <span class="search-form__btn-search"></span>
        </form>
</div>
