<div class="chat-details-navbar">
    <div class="logo">
        <a routerLink="/chat"  class="logo__link">BACK</a>
        <a routerLink="/home"  class="logo__link">
             <img class="logo__item" src="http://placehold.it/120x45" alt="">
        </a>
    </div>

     <form action="" class="search-form" autocomplete="off">
             <input class="search-form__input" type="text" placeholder="Search message" name="search-message"
               [(ngModel)]="searchPrivateMessage"
             (blur)="onBlur()"
             (ngModelChange)="onSearchPrivateMessageChange($event)"
             >
            <span class="search-form__btn-search"></span>
        </form>
</div>
