<h2 class="main-chat-header">Wellcome to the Main Chat</h2>
<ul class="message-list">
    <li 
    [class.user-message-author]="message.userName === author"
    [class.user-message-friend]="message.userName !== author"
    *ngFor='let message of messages$ | async | filterMessageByText: searchMessage; let i = index'>
        <div class="user-message-wrapper">
            
            <div class="avatar" *ngFor="let userOn of usersOn1$ | async">
                 <img *ngIf="message.userName === userOn.firstname && userOn.isLogged" class="avatar__img" src="../../../../assets/img/user-on-avatar.png" alt="avatar-image">
                 <img *ngIf="message.userName === userOn.firstname && !userOn.isLogged" class="avatar__img" src="../../../../assets/img/user-off-avatar.png" alt="avatar-image">
            </div>
            <div class="user-message__text-cotainer">
                 <span class="user-message__text-author">{{message.userName}}</span>
                 <div class="user-message__text-message">{{message.text}}</div>
            </div>
             
        </div>

        <div class="user-message__date-container">
            <span class="user-message__time">{{message.timestamp |  date:'shortTime'}} </span>
            <span class="user-message__date">{{message.timestamp |  date:'mediumDate'}}</span>
        </div>
    </li>
</ul>

