/* You can add global styles to this file, and also import other style files */

body {  
    margin: 0;
    padding: 0;
    background: rgb(240,240,240);
    font-family: 'Open Sans', Arial, 'sans-serif'; 
    font-size: 14px;
}

input:focus, [contenteditable="true"] {
    outline: none;
}