// $primary-color: orange;

.home {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    // color: $primary-color;
    height: calc(100vh - 81px);
    background-color: #fff;
}

.home__main-header {
    margin-top: 15vh;
    font-size: 54px;
    margin-bottom: 24px;
    font-weight: 300;
    color: #3b3e99;
}

.home__subheader {
    font-size: 48px;
    font-weight: 300;
    color: #989ad7;
    margin-bottom: 36px;
}

.home__description {
    font-size: 18px;
    font-weight: 400;
    color: #3b3e99;
    margin: 0 0 24px 0;
}

.home__btn-register {
    font-size: 21px;
    height: 60px;
    width: 150px;
    background-color: #3b3e99;
    text-decoration: none;
    box-sizing: content-box;
    text-align: center;
    line-height: 60px;
    font-weight: 300;
    margin-right: 0;
    padding: 0 45px;
    color: white;
}

.home__btn-register:hover {
    font-weight: 600;
}